.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.profile__login{
    font-size: 24px;
    padding: 5px 0;
    background: #47B4DD;
    width: 100px;
    text-align: center;
    border-radius: 50px;
    box-shadow: inset 0 10px 15px rgb(0 0 0 / 20%);
    margin: 0 auto;
    cursor: pointer;
    font-weight: 700;
    transition: .8s;
    color: #fff;
}
.profile__login:hover{
    box-shadow: 1px 1px 11px 4px rgb(0 0 0 / 20%);
}
.profile__login.none{
    display: none;
}
.profile__info{
    width: 100%;
    font-size: 18px;
    padding: 5px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}
.profile__info.none{
    display: none;
}
.material_fix{
    font-size: 36px;
}
.profile__exit{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 6px;
    border-radius: 12px;
    background: rgba(255, 0, 0, .5);
    box-shadow: inset 0px 10px 15px rgb(0 0 0 / 20%);
}
.profile__exit:hover{
    background: red;
}
.profile__profile{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 6px;
    border-radius: 12px;
    background: rgba(232, 231, 231, 0.5);
    box-shadow: inset 0px 10px 15px rgb(0 0 0 / 20%);
}